.*/
*.ipr
*.iws
*.iml
*.db
*.log
logs
mobilelog
target
.idea
bin
*.class
*.classpath
*.settings
*.project
.myeclipse
*.tar.gz
*/target/
*/.settings/
/.project
/workflow/.classpath
/workflow/.project
/workflow/.settings/.jsdtscope
/workflow/.settings/org.eclipse.jdt.core.prefs
/workflow/.settings/org.eclipse.m2e.core.prefs
/workflow/.settings/org.eclipse.wst.common.component
/workflow/.settings/org.eclipse.wst.common.project.facet.core.xml
/workflow/.settings/org.eclipse.wst.jsdt.ui.superType.container
/workflow/.settings/org.eclipse.wst.jsdt.ui.superType.name
/workflow/.settings/org.eclipse.wst.validation.prefs
/workflow-sample/.classpath
/workflow-sample/.project
/workflow-sample/.settings/org.eclipse.jdt.core.prefs
/workflow-sample/.settings/org.eclipse.m2e.core.prefs
/workflow-sample/.settings/org.eclipse.wst.common.component
/workflow-sample/.settings/org.eclipse.wst.common.project.facet.core.xml
/workflow-sample/.settings/org.eclipse.wst.validation.prefs
